.m-markit{
    & > *{
        width : 100%;
    }
    height : 100%;
    width: 100%;
    overflow: hidden;
    @include flexbox();
    @include flex-direction(column);
    header{
        height: .44rem;
        @include border(0 0 1px 0, #ae978c);
        ul{
            width: 100%;
            height: 100%;
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
            img{
                width: 100%;
            }
            li{
               text-align: center;
               font-size: .13rem;
               @include flex(2);
               color: #70b33c;
               &:first-child{
                   span{
                       i{
                           display: inline-block;
                           width: .09rem;
                           height: .05rem;
                       }
                       em{
                           width: .24rem;
                           height: .16rem;
                           display: inline-block;
                           padding-left: .04rem;
                       }
                   }
               }
               &:nth-child(2){
                   @include flex(3);
                   font-size: .18rem;
               } 
               &:last-child{
                    text-align: right;
                    em{
                        display: inline-block;
                        &:first-child{
                            width: .24rem;
                            height: .19rem;
                        }
                        &:last-child{
                            width: .26rem;
                            height: .16rem;
                            margin: 0 .11rem 0 .12rem;
                        }
                    }
               }
            }
        }
    }
    nav{
        color: #535353;
        height: .45rem;
        @include border(0 0 1px 0, #ddd);
        @include box-sizing(border-box);
        overflow: hidden;
        position: relative;
        .navBox{
            width: 3.22rem;
//          height: 100%;
            overflow-x: scroll;
            position: absolute;
            top: 0;
            left: 0;
            padding-top: .06rem;
            ul{
                width: 6.76rem;
//              height: 100%;
                li{
                    padding: .06rem .1rem;
                    float: left;
                    margin-left: .1rem;
                    @include border(1px, #ddd, solid, 5px);
                    a{
                       color: #535353; 
                    }
                    &.active{
                        background-color: #b9e649;
                        color: #567606;
                        border: none;
                    }
                }
            }
        }
        .moreBox{
            height: 100%;
            position: relative;
            button{
                position: absolute !important;
                right: 0;
                top: 0;
                border: none;
                width: .53rem;
                height: 100%;
                background-color: inherit;
                @include box-sizing(border-box);
                @include border(0 0 0 1px, #ddd, solid);
            }
        }
    }
    section{
        @include flex();
        width: 100%;
        .banner{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
            }
        }
        .hot-top{
            @include border(0 0 1px 0, #ddd);
            @include box-sizing(border-box);
            ul{
                height: 100%;
                @include flexbox();
                li{
                    &:nth-child(2){
                        @include border(0 1px 0 1px, #ddd);
                    }
                    @include flex();
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .hot-good{
            padding-top: .07rem;
            .hot-good-tit{
                padding: 0 .06rem;
                height: .38rem;
                ul{
                    @include flexbox();
                    height: 100%;
                    @include border(1px, #b9e649, solid, 5px);
                    li{
                        height: 100%;
                        color: #7abe4e;
                        font-size: .15rem;
                        line-height: .38rem;
                        text-align: center;
                        @include flex();
                        &:nth-child(2){
                            @include border(0 1px 0 1px, #b9e649, solid);
                        }
                        &.active{
                            background-color: #b9e649;
                            color: #567606;
                        }
                    }
                }
            }
            .hot-good-list{
                ul{
                    @include border(0 0 1px 0, #ddd, solid);
                    @include flexbox();
                    li{
                        @include flex();
                        img{
                            width: 100%;
                        }
                        &:first-child{
                            @include border(0 1px 0 0, #ddd, solid);
                        }
                    }
                }
            }
        }
        
    }
}