.m-markit{
    & > *{
        width : 100%;
    }
    height : 100%;
    width: 100%;
    overflow: hidden;
    @include flexbox();
    @include flex-direction(column);
    header{
        height: .44rem;
        @include border(0 0 1px 0, #ae978c);
        ul{
            width: 100%;
            height: 100%;
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
            img{
                width: 100%;
            }
            li{
               text-align: center;
               font-size: .13rem;
               @include flex(2);
               color: #70b33c;
               &:first-child{
                   span{
                       i{
                           display: inline-block;
                           width: .09rem;
                           height: .05rem;
                       }
                       em{
                           width: .24rem;
                           height: .16rem;
                           display: inline-block;
                           padding-left: .04rem;
                       }
                   }
               }
               &:nth-child(2){
                   @include flex(3);
                   font-size: .18rem;
               } 
               &:last-child{
                    text-align: right;
                    em{
                        display: inline-block;
                        &:first-child{
                            width: .24rem;
                            height: .19rem;
                        }
                        &:last-child{
                            width: .26rem;
                            height: .16rem;
                            margin: 0 .11rem 0 .12rem;
                        }
                    }
               }
            }
        }
    }
    nav{
        color: #535353;
        height: .45rem;
        @include border(0 0 1px 0, #ddd);
        @include box-sizing(border-box);
        overflow: hidden;
        position: relative;
        .navBox{
            width: 3.22rem;
//          height: 100%;
            overflow-x: scroll;
            position: absolute;
            top: 0;
            left: 0;
            padding-top: .06rem;
            ul{
                width: 6.76rem;
//              height: 100%;
                li{
                    padding: .06rem .1rem;
                    float: left;
                    margin-left: .1rem;
                    @include border(1px, #ddd, solid, 5px);
                    a{
                       color: #535353; 
                    }
                    &.active{
                        background-color: #b9e649;
                        color: #567606;
                        border: none;
                    }
                }
            }
        }
        .moreBox{
            height: 100%;
            position: relative;
            button{
                position: absolute !important;
                right: 0;
                top: 0;
                border: none;
                width: .53rem;
                height: 100%;
                background-color: inherit;
                @include box-sizing(border-box);
                @include border(0 0 0 1px, #ddd, solid);
            }
        }
    }
    section{
        @include flex();
        width: 100%;
        .banner{
            width: 100%;
            height: 1.57rem;
            img{
                width: 100%;
            }
        }
        .hot-top{
            height: 1.7rem;
            @include border(0 0 1px 0, #ddd);
            @include box-sizing(border-box);
            i{
                font-style: italic;
            }
            ul{
                height: 100%;
                @include flexbox();
                li{
                    text-align: center;
                    h3{
                        font-size: .16rem;   
                        color: #f16856;
                        margin-top: .09rem;
                    }
                    p{
                        transform: scale(.833333);
                        &:last-child{
                            //transform: scale(.9);
                        }
                        i{
                            font-size: .18rem;
                            color: #ff4f34;
                        }
                        small{
                            font-size: .12rem;
                            transform: scale(.41666);
                        }
                    }
                    @include flex();
                    &:nth-child(2){
                        @include border(0 1px 0 1px, #ddd);
                        @include box-sizing(border-box);
                    }
                }
                
            }
        }
    }
    footer{
        height: .49rem;
        @include border(1px 0 0 0, #a8a8a8);
        ul{
            width: 100%;
            height: 100%;
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
            overflow: hidden;
            li{
                @include flex();
                position: relative;
                height: 100%;
                img{
                    width: 72%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include transform(translate(-50%, -50%));
                }
            }
        }
    }
}